{% extends 'base.html' %}
{% block title %} Tareas - Tarea Planner {% endblock %}

{% block content %}

<a href="{% url 'create_tarea' %}" style="align-self: flex-end; margin-bottom: 20px;">
    <button style="
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight:bold;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        Crear nueva tarea
    </button>
</a>

<!-- Listado tareas -->
<h2>Listado de tareas</h2>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha de Vencimiento</th>
            <th>Creada por</th>
            <th>Asignada a</th>
        </tr>
    </thead>
    <tbody>
    {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.title }}</td>
            <td>{{ tarea.description }}</td>
            <td>{{ tarea.due_date }}</td>
            <td>{{ tarea.created_by }}</td>
            <td>
                <div style="display: flex; flex-direction: column;">
                {% for usuario in tarea.assigned_to.all %}
                    <div>
                        {{ usuario }}
                    </div>
                {% endfor %}
                </div>
            </td>
            <td>
                <a href="{% url 'editar_tarea' tarea.id %}">
                    <button style="
                        padding: 5px 10px;
                        background-color: #28a745;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-weight:bold;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);">
                        Editar
                    </button>
                </a>
            </td>
            <!-- Si el usuario es estudiante, añadir botón para "trabajar" en la tarea (edición) -->
            <!-- Si el usuario es profesor, añadir botón para editar la tarea -->
            <!-- Esto se puede hacer desde el "controlador" -->
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}